


<div style="background-color: lightblue; width: 100%; height: 100%; position: absolute; top: 53px; left: 2px;">

    @{
        ViewData["Title"] = "AboutUs" ;
    }
    <h1 style="text-align-last:center">AboutUs</h1>

    <hr />

    <div class="jumbotron"  style="background-color: lightblue;">
        <h4>We are EShop</h4>
        <h6>We are an E-commerce store who sell all kind of products here, we deliver our products all over the country!!!</h6>
        <br />
        <div class="table">
            <table class="table">
                <tr class="table table-secondary">
                    <td>
                        <h6>Call us</h6>
                    </td>
                    <td>
                        <h6>Email us</h6>
                    </td>
                    <td>
                        <h6>Visit us</h6>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h6>+91-8308380266</h6>
                    </td>
                    <td>
                        <h6>pranitshinde904@gmail.com</h6>
                    </td>
                    <td>
                        <h6>Sangamner<br />Maharashtra India</h6>
                    </td>
                </tr>


                <tr>
                    <td>
                        <h6>+91-8830436765</h6>
                    </td>
                    <td>
                        <h6>srushikesh64@gmail.com</h6>
                    </td>
                    <td>
                        <h6>Sangamner<br />Maharashtra India</h6>
                    </td>
                </tr>


                <tr>
                    <td>
                        <h6>+91-9595181813</h6>
                    </td>
                    <td>
                        <h6>rutu.raut6501@gmail.com</h6>
                    </td>
                    <td>
                        <h6>Sangamner<br />Maharashtra India</h6>
                    </td>
                </tr>



                <tr>
                    <td>
                        <h6>+91-8208796832</h6>
                    </td>
                    <td>
                        <h6>mansisonawane03@gmail.com</h6>
                    </td>
                    <td>
                        <h6>Sangamner<br />Maharashtra India</h6>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h6>+91-9665766741</h6>
                    </td>
                    <td>
                        <h6>satwikpatel04@gmail.com</h6>
                    </td>
                    <td>
                        <h6>Sangamner<br />Maharashtra India</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h6>+91-9689243867</h6>
                    </td>
                    <td>
                        <h6>raulketan09@gmail.com</h6>
                    </td>
                    <td>
                        <h6>Sangamner<br />Maharashtra India</h6>
                    </td>
                </tr>






            </table>
        </div>
    </div>
    </div>
